 body {
     font-family: Roboto ,sans-serif;
	margin: 1em 10em 0em 10em;
     background-image: url(https://www.impression-panoramique.com/Epson-Presentation-Mat-172g-imgp-28_1.jpg);
     background-size: cover;
 }
 span {

     color:red;
     font-weight: bold;
 }

 .photo {
   width: 158px;
}

h3 {
font-family: Lobster;
    text-align: center;
}
 aside {

     float:left;
     display: inline-block;
     font-weight: bold;

     padding-bottom: 125px;
     text-align: left;
 }
 fieldset {


box-shadow: 2px 2px 0px 0px;
background-color: rgba(237, 239, 241, 0.5);


}

.adresse {
    font-weight: bold;

    padding-bottom: 2px;
    text-align: left;
}

.competences {
font-weight: bold;

}
 header legend {
	text-align: center;
 }

main legend {
	text-align: ;
}

#titre {
	text-align: center;
}

header {
	width: em;
	margin: auto;


}

main {
	width:68em;
    text-align: center;
    position: relative;
    margin-left: auto;
	margin-right: auto;

}

ul {
    list-style: none;
    padding: 0;
}

#main {
text-align: justify;

}
